// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
/* Fonts */
@import "base/fonts";



.upper{
    background-color: rgba(0, 0, 0, 0.734);
    height: 31px;
    .upper-link{
        font-family: Muli-Light;
        color: white;
        font-size: 14px;
        text-decoration: none;
        :hover{
            cursor: pointer;
            color: red;
        }
    }
}

.navbar-logo{
    height: 50px;
    font-size: 14px;
}

.nav-link{
    text-align: center;
    font-family: Muli-Light;
}
.active{
    font-family: Muli;
    font-weight: 800;
}

.navbar{
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6012605725884104) 0%,
      rgba(0, 0, 0, 0) 100%
    );
}

.dropdown{
    margin-top: -3.5px;
}

.icon-drop{
    font-family: Linearicons-Free;
    color: white;
    font-size: 14px;
    text-decoration: none;
}




